body{
    display: flex;
    flex-direction: column;
}

.sidebar{
}

.mainSection{
    display: flex;
    flex-direction: column;

}

.mainSectionHeader{
    /* display: flex; */

}

.postContainer{
    display: flex;
    margin: 0 auto;
    padding: 1em;   
}

